ticktime=3000
dataDir=/var/lib/zookeeper
clientPort=2181
initLimit=5
syncLimit=5
minSessionTimeout=8000 
maxSessionTimeout=10000
{% for host in groups['zoo_servers'] %}
{% if loop.index|string() == (groups['zoo_servers'].index(inventory_hostname)+1)|string() %}
server.{{ loop.index }}=0.0.0.0:2888:3888
{% else %}
server.{{ loop.index }}={{ host }}:2888:3888
{% endif %}
{% endfor %}
